--
-- PostgreSQL database dump
--

\restrict Y6NSqCBCH9tOF8dQ98fKBLW99wqZRqkdxdDQ0b63uSngxsQadHgKOwdamAuj3nR

-- Dumped from database version 16.11 (Debian 16.11-1.pgdg12+1)
-- Dumped by pg_dump version 16.11 (Debian 16.11-1.pgdg12+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: vector; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS vector WITH SCHEMA public;


--
-- Name: EXTENSION vector; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION vector IS 'vector data type and ivfflat and hnsw access methods';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: called_entity; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.called_entity (
    prints_called boolean NOT NULL,
    id_called uuid NOT NULL,
    problem_called character varying(2000) NOT NULL,
    upsell_called character varying(3000) NOT NULL,
    solution_called character varying(5000) NOT NULL,
    modules_called character varying(255) NOT NULL,
    mood_called character varying(255) NOT NULL,
    CONSTRAINT called_entity_modules_called_check CHECK (((modules_called)::text = ANY ((ARRAY['NFE'::character varying, 'NFCE'::character varying, 'MDFE'::character varying, 'CTE'::character varying, 'FRENTE_DE_CAIXA'::character varying, 'CERTIFICADO'::character varying, 'CONFIGURACAO_DE_CONTA'::character varying, 'COMERCIAL_VENDAS'::character varying, 'ESTOQUE'::character varying, 'FINANCEIRO'::character varying, 'BOLETOS'::character varying, 'MARKETPLACE_LOJA_VIRTUAL'::character varying, 'RESTAURANTE'::character varying, 'RELATORIO'::character varying, 'GENERIC'::character varying])::text[]))),
    CONSTRAINT called_entity_mood_called_check CHECK (((mood_called)::text = ANY ((ARRAY['GOOD'::character varying, 'NEUTRAL'::character varying, 'IRRITATED'::character varying])::text[])))
);


ALTER TABLE public.called_entity OWNER TO postgres;

--
-- Data for Name: called_entity; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.called_entity (prints_called, id_called, problem_called, upsell_called, solution_called, modules_called, mood_called) FROM stdin;
\.


--
-- Name: called_entity called_entity_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.called_entity
    ADD CONSTRAINT called_entity_pkey PRIMARY KEY (id_called);


--
-- PostgreSQL database dump complete
--

\unrestrict Y6NSqCBCH9tOF8dQ98fKBLW99wqZRqkdxdDQ0b63uSngxsQadHgKOwdamAuj3nR

